<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR Processing">
    <aggregation>
      <routines>
        <ExecRoutineStatementBuilder>
          <mappings>
            
            <!-- Enable mappings from  Sitecore.Analytics.Processing.Aggregation.config -->           
            <SqlMappingEntity uid="Fact_PageViewsByLanguage" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_PageViewsByLanguage</Table>
              <Routine>Add_PageViewsByLanguage</Routine>
              <IsMultiRow>False</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_RulesExposure" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_RulesExposure</Table>
              <Routine>Add_RulesExposure</Routine>
              <IsMultiRow>False</IsMultiRow>
            </SqlMappingEntity>


            <!-- Enable mappings from Sitecore.ContentTesting.Processing.Aggregation.config -->
            <SqlMappingEntity uid="Fact_MvTestingDetails" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_MvTestingDetails</Table>
              <Routine>Add_MvTestingDetails</Routine>
              <IsMultiRow>False</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_Personalization" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_Personalization</Table>
              <Routine>Add_Personalization</Routine>
              <IsMultiRow>False</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_PersonalizationRule" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_PersonalizationRule</Table>
              <Routine>Add_PersonalizationRule</Routine>
              <IsMultiRow>False</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_TestConversions" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_TestConversions</Table>
              <Routine>Add_TestConversions</Routine>
              <IsMultiRow>False</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_TestOutcomes" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_TestOutcomes</Table>
              <Routine>Add_TestOutcomes</Routine>
              <IsMultiRow>False</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_TestPageClicks" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_TestPageClicks</Table>
              <Routine>Add_TestPageClicks</Routine>
              <IsMultiRow>False</IsMultiRow>
            </SqlMappingEntity>

            <!-- Enable mappings from Sitecore.ExperienceAnalytics.Aggregation.config -->
            <SqlMappingEntity uid="Fact_ChannelGroupMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_ChannelGroupMetrics</Table>
              <Routine>Add_ChannelGroupMetrics_Tvp</Routine>
              <TableType>ChannelGroupMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_ChannelMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_ChannelMetrics</Table>
              <Routine>Add_ChannelMetrics_Tvp</Routine>
              <TableType>ChannelMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_ChannelTypeMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_ChannelTypeMetrics</Table>
              <Routine>Add_ChannelTypeMetrics_Tvp</Routine>
              <TableType>ChannelTypeMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_CityMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_CityMetrics</Table>
              <Routine>Add_CityMetrics_Tvp</Routine>
              <TableType>CityMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_ConversionsMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_ConversionsMetrics</Table>
              <Routine>Add_ConversionsMetrics_Tvp</Routine>
              <TableType>ConversionsMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_CountryMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_CountryMetrics</Table>
              <Routine>Add_CountryMetrics_Tvp</Routine>
              <TableType>CountryMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_DeviceModelMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_DeviceModelMetrics</Table>
              <Routine>Add_DeviceModelMetrics_Tvp</Routine>
              <TableType>DeviceModelMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_DeviceSizeMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_DeviceSizeMetrics</Table>
              <Routine>Add_DeviceSizeMetrics_Tvp</Routine>
              <TableType>DeviceSizeMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_DeviceTypeMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_DeviceTypeMetrics</Table>
              <Routine>Add_DeviceTypeMetrics_Tvp</Routine>
              <TableType>DeviceTypeMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_EntryPageByUrlMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_EntryPageByUrlMetrics</Table>
              <Routine>Add_EntryPageByUrlMetrics_Tvp</Routine>
              <TableType>EntryPageByUrlMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_EntryPageMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_EntryPageMetrics</Table>
              <Routine>Add_EntryPageMetrics_Tvp</Routine>
              <TableType>EntryPageMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_ExitPageByUrlMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_ExitPageByUrlMetrics</Table>
              <Routine>Add_ExitPageByUrlMetrics_Tvp</Routine>
              <TableType>ExitPageByUrlMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_ExitPageMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_ExitPageMetrics</Table>
              <Routine>Add_ExitPageMetrics_Tvp</Routine>
              <TableType>ExitPageMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_LanguageMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_LanguageMetrics</Table>
              <Routine>Add_LanguageMetrics_Tvp</Routine>
              <TableType>LanguageMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_PageByUrlMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_PageByUrlMetrics</Table>
              <Routine>Add_PageByUrlMetrics_Tvp</Routine>
              <TableType>PageByUrlMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_PageMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_PageMetrics</Table>
              <Routine>Add_PageMetrics_Tvp</Routine>
              <TableType>PageMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_PageViewsMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_PageViewsMetrics</Table>
              <Routine>Add_PageViewsMetrics_Tvp</Routine>
              <TableType>PageViewsMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_RegionMetrics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_RegionMetrics</Table>
              <Routine>Add_RegionMetrics_Tvp</Routine>
              <TableType>RegionMetrics_Type</TableType>
              <IsMultiRow>True</IsMultiRow>
            </SqlMappingEntity>            
          </mappings>
        </ExecRoutineStatementBuilder>
      </routines>
    </aggregation>
  </sitecore>
</configuration>